{% extends "base.html" %}
{% load facebook_tags %}
{% block content %}
<div class="center-box center-only">
<div class="box-top">
    <h1>Login</h1>
</div>
<div class="box-middle">
  <div style="float:left;margin:0 .4em .4em 0">{% show_facebook_photo user %}</div>
  <h2>{% show_facebook_greeting user %}</h2>
  <br /><br />
  <div style="width: 800px;">
    <p>
    If you wanted to collect further user information (ie cell phone #) you would ask the
    user here.  The steps to do so would be:<br />
    <ul>
        <li>create a new html form below</li>
        <li>create a hidden element in the form:  facebook_only with a value of false</li>
        <li>create a hidden element in the form:  next  with a value == {{ next }}</li>
        <li>edit the facebookconnect->views.py->setup method (modify the section starting with form.is_valid())</li>
    </ul>
    </p>


  </div>

  <h2>Please click the continue button to continue</h2>
  <p>
    Doing so will
        <ul>
            <li>create a user in auth_user with an username equal to your facebook user id</li>
            <li>create a record in the facebookconnect_facebookprofile table</li>
        </ul>
  </p>
  <form action="" method="post" accept-charset="utf-8" class="nice-form">
    <input type="hidden" name="facebook_only" value="true" id="facebook_only">
    <input type="hidden" name="next" value="{{ next }}" id="next">
    <p><input type="submit" value="Continue"></p>
  </form>

    </div>
    <div class="box-bottom"></div>
</form>
</div>
{% endblock %}