<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}Social Movie Recommendation Engine{% endblock %}</title>
		
		<link rel="stylesheet" href="/media/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/media/print.css" type="text/css" media="print">
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		<script src="/media/jquery.min.js"></script>
		<script src="/media/jquery-ui.min.js"></script>
		<link media="screen" rel="stylesheet" href="/media/colorbox.css" />
		<script src = "/media/jquery.colorbox.js"></script>
		<script>
			$(document).ready(function(){
			$("a[rel='backdrops']").colorbox({transition:"fade", height :500 , width : 700 });
			$("a[rel='covers']").colorbox({slideshow:true , height : 500 , width:700 });
			$(".video").colorbox({iframe:true, innerWidth:425, innerHeight:344});
		});
			$("#click").click(function(){ 
				$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
				return false;
			});
		</script>
		<style type="text/css">
			body {
				background: black;
			}
			.container {
				background: white;
				border-left: 20px white solid;
				border-right: 20px white solid;
			}
			.header {
				background: black;
				border-left: 20px black solid;
				border-right: 20px black solid;
			}
			.header h3, .header h1 {
				color: white;
			}
			.rating {
				font-size:15px;
			}
		</style>
		{% block head %} {% endblock %}
</head>
<body>
	<div id="fb-root"></div>
	<script type="text/javascript">
         FB.init({ 
            appId:'188365901207571', cookie:true, 
            status:true, xfbml:true 
         });
         /*
         FB.getLoginStatus(function(response) {
		  if (response.session) {
			window.location = "/show"
		  } else {
			
		  }
		});
		FB.Event.subscribe('auth.login', function (response) {
			window.location = "/show" 
		});*/
		FB.getLoginStatus(function(response) {
		  if (response.session) {
			console.log("logged in getLoginStatus");
		  } else {
			
		  }
		});
    </script>
	
	<div class="header container">
		<h1>SocMov</h1>
		<h3>A social movie recommendation system</h3>
	</div>
	<div class="container">
	
	{% block body %} {% endblock %}
	</div>
	
	<div class="header container">
		<h3>About Us | Terms | Help</h3>
	</div>
</body>

</html>
