{% extends "base.html" %}
{% block title %} SocMov {% endblock %}
{% block body %} 

{% if user %}
	<p>Welcome, <a href = "/userprofile">{{ user.first_name }}</a></p>
{% else %}
	{% include "fblogin.html" %}
{% endif %}

<h3><a href="#invite_friends" id="invFriends"> Invite your friends</a></h3>

<script type="text/javascript">
$('#invFriends').click(function(){
	FB.ui({	method	: 'apprequests', 
			message	: 'Discover movies. Socially.', 
			data	: 'tracking information for the user'});
});
</script>
{% include "movie_grid.html" with movies=movies %}
{% endblock %} 
