 <html>
    <head>
      <title>My Facebook Login Page</title>
    </head>
    <body>
      <div id="fb-root"></div>
      <script src="http://connect.facebook.net/en_US/all.js"></script>
      <script>
         FB.init({ 
            appId:'188365901207571', cookie:true, 
            status:true, xfbml:true 
         });
         
         FB.getLoginStatus(function(response) {
		  if (response.session) {
			window.location = "/show" 
		  } else {
			
		  }
		});
         
		 FB.Event.subscribe( 'auth.login', function (response) {
			window.location = "/show" 
		 });
      </script>
      
	  <fb:login-button 
	  onlogin="loginEvent()"
	  perms="user_activities,user_hometown,user_interests,user_likes,user_location,user_relationships,user_religion_politics,user_work_history,offline_access">Login with Facebook</fb:login-button>
      
    </body>
</html>
