{# renders a movie and takes mov - movie parameter #}
{% if mov %}
	<div class="span-3 compactMoviePoster">
		<a href="/movie?id={{ mov.mid }}">
			<img src="{{ poster.url }}">
		</a>
	</div>
	<div class="span-5 last">
		<a href="/movie?id={{ mov.mid }}">
			<h3> {{ mov.name }} </h3>
		</a>
		<h4> {{ mov.tagline }} </h4>
		<div class="span-5 last">
			<div class="classification span-4">
				<div class="cover"></div>
				<div class="progress" style="width: {{ mov.rating_percent }}%;"></div>
			</div>
			<div class="rating span-1 last">{{ mov.rating }}</div> 
			{# from {{ mov.votes }} on <a href="http://tmdb.org">TMDB</a> #}
			{# <p> {{mov.overview}}</p> #}
		</div>
		{% include "vote.html" with movieid=mov.mid friends=fr %}
	</div>
{% else %}
	No movie mentioned
{% endif %}
