{# renders a movie and takes mov - movie parameter #}
{% extends "base.html" %}
{% block body %}
{% if mov %}
	<h1> {{ mov.name }} </h1>
	<h3> {{ mov.tagline }} </h3>
	{{ mov.rating }} from {{ mov.votes }} 
	<p> {{mov.overview}}</p>
	<h3> Covers </h3>
	{% for v in posters %}
		{% if forloop.first %}
			<a href = "{{ v.url }}" rel = "covers" > <img src="{{ v.url }}" width = "400" height "500"/> </a>
		{% else %}
			<a href = "{{ v.url }}" rel = "covers"> </a>
		{% endif %}
	{% endfor %}
	<br>
	<h3> Backdrops </h3>
	{% for v in backdrops %}
		{% if forloop.first %}
			<a href = "{{ v.url }}" rel = "backdrops" > <img src="/media/backdrops.png" /> </a>
		{% else %}
			<a href = "{{ v.url }}" rel = "backdrops"> </a>
		{% endif %}
	{% endfor %}
	
	<br>
	{% if trailer %}
		<h3>Youtube trailer</h3>
		<iframe class="youtube-player" 
				type="text/html" 
				width="640" 
				height="385" 
				src="{{ trailer }}" 
				frameborder="0">
		</iframe>
	{% endif %}
{% else %}
	No movie mentioned
{% endif %}
{% endblock %}
