{% extends "base.html" %}
{% block title %} SocMov {% endblock %}
{% block body %} 

{% if user %}
	<p>Welcome, <a href = "/userprofile">{{ user.first_name }}</a> <a href = "/">Go back</a></p>
{% else %}
	{% include "fblogin.html" %}
{% endif %}

<h3><a href="#invite_friends" id="invFriends"> Invite your friends</a></h3>

<script type="text/javascript">
$('#invFriends').click(function(){
	FB.ui({	method	: 'apprequests', 
			message	: 'Discover movies. Socially.', 
			data	: 'tracking information for the user'});
});
</script>

{% for m in movies %}
	{% if m.last == 1 %} <div class="span-24 last" style="margin-bottom:30px">  {% endif %}
	<div class="span-8{% if m.last == 3 %} last{% endif %}">
	{% include "movie_compact.html" with mov=m.mov poster=m.poster %}
	</div>
	{% if m.last == 3 %} </div> {% endif %}
{% endfor %}
{% endblock %} 
