body {
	background: black;
}
.container {
	background: white;
	border-left: 20px white solid;
	border-right: 20px white solid;
}
.header {
	background: black;
	border-left: 20px black solid;
	border-right: 20px black solid;
}
.header h3, .header h1 {
	color: white;
}
.rating {
	font-size:1.8em;
	color: #004483;
}

.vote_box {
	margin-top: 7px;
}
.vote_ui {
	text-decoration: none; 
	font-size: 1.2em;
}
.vote_up, .vote_up:hover {
	color: #007500;
}
.vote_down, .vote_down:hover {
	color: #bf0000;
}
.vote_up:hover, .vote_down:hover {
	font-weight: 900;
}


