{% extends 'base.html' %}

{% block content %}
    <h3><a href="http://www.lab305.com">Lab305.com</a> Django Facebook Connect Demo</h3>
    <div style='width: 700px;'>
        <p>
            Welcome to the <a href="http://www.lab305.com">Lab305</a> Django / Facebook Connect demo application.<br />
            This was originally created as part of a presentation for the
            <a href="http://groups.google.com/group/django-nyc">Django NYC Users Group</a>.
        </p>
        <p>
            I'm <a href="http://www.twitter.com/mrtrosen">Michael Trosen</a>, your host for today.  I've been a python since 1996, and have been developing django
            applications for the last couple years.  I also have extensive experience with java, c++, php, and GNU/Linux, as well as a
            bunch of other corporate technology buzzwords such as enterprise architecture.<br /><br />
            Check out the <a href="http://www.ghglug.org">Greater Hartford GNU Linux Users Group</a> if you're in the Connecticut area!

        </p>
        <p>
            <h4>A great big thank you!</h4>
            This demo would not be possible without the hard work by the following people/projects,
            who wrote various applications and django components that this demo utilizes:
            <ul>
                <li><a href="http://www.python.org">Python</a> - IMHO, the worlds best programming language</li>
                <li><a href="http://www.apache.org">Apache</a> - the web server running on http://www.lab305.com</li>
                <li><a href="http://www.djangoproject.com">The Django Project</a> - the python web framework used</li>
                <li><a href="http://developers.facebook.com/connect.php">Facebook Connect</a> - The social network </li>
                <li><a href="http://wiki.developers.facebook.com/index.php/Python">PyFacebook</a> - a python wrapper for the Facebook API
                <li><a href="http://ryan-mark.com/2009/04/02/django-facebook-connect/">Ryan Mark</a> - Developer of django-facebookconnect which I've modified for this demo</li>
            </ul>
        </p>
        <p>
            <h4>Presentation Slides</h4>
            The slides for the presentation I gave to the django-nyc user group are available on slideshare:
            <a href="http://www.slideshare.net/mrtrosen/lab305-django-facebook-connect-integration-example?from=email&type=share_slideshow&subtype=slideshow">http://www.slideshare.net/mrtrosen/lab305-django-facebook-connect-integration-example?from=email&type=share_slideshow&subtype=slideshow</a>.<br /><br />
            This outlines the steps required for django and facebook connect development.
        </p>
        <p>
            <h4>Sample Application Source Code</h4>
            In addition, the complete application you see running here is available for
            <a href="http://media.lab305.com/djangonyc-1.0.tgz">download here.</a><br /><br />
            This uses a modified version of the facebookconnect application from Ryan Mark.
        </p>
        <p>
            I hope you find this demo application useful.  Either way, I'd appreciate an <a href="mailto:mrtrosen@lab305.com">email</a>
            or <a href="http://www.twitter.com/mrtrosen">tweet</a> if you use it!
            <br />
            Thank you,
            <br /><br />
            Michael Trosen<br />
            <a href="http://www.twitter.com/mrtrosen">Follow me on Twitter</a><br />
            mrtrosen@lab305.com<br />

            <a href="http://www.lab305.com">Lab 305, LLC</a>


        </p>
    </div>


{% endblock %}